<% layout('./layouts/boilerplate') %> 
<!-- Going to /transactions/:id but with a put request after we are done editing-->
<div class="row">
    <h1 class="text-center"> Edit Transaction</h1>
    <div class="col-6 offset-3">
        <!-- Going to /transactions after it posts -->
        <form action="/transactions/<%= transaction._id %>?_method=PUT " method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <!-- This input with this name allows us to group variables under "transaction" -->
                <input class="form-control" type="text" id="description" name="transaction[description]" value="<%= transaction.description %> " required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="cost">Cost</label>
                <input class="form-control" type="text" id="cost" name="transaction[cost]" value="<%= transaction.cost %>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="date">Date</label>
                <input class="form-control" type="text" id="date" name="transaction[date]" value="<%= transaction.date %>" required>
            </div>
            <input type="file" name="image" id="" multiple>
            <div class="mb-3">
                <button class="btn btn-success">Update Transaction</button>
            </div>
        </form>
        <a href="/transactions/<% transaction._id %> ">Back To Transaction</a>
    </div>
</div>

