<% layout('../layouts/boilerplate') %> 
<h1>All Transactions with boilerplate</h1>

<div>
    <a href="transactions/new">Add Transaction Manually</a>
</div>

<ul>
    <% for (let transaction of transactions) {%>
        <li><a href="/transactions/<%= transaction._id %>"><%= transaction.description %></a> </li>
    <% } %> 

</ul>
    
