<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Details</title>
</head>
<body>
    <h1>Description: <%= transaction.description %> </h1>
    <h2>Cost: $<%= transaction.cost %> </h2>
    <h2>Date: <%= transaction.date %> </h2>

    <footer>
        <a href="/transactions">All Transactions</a>
    </footer>
</body>
</html>